@import 'Styles/index.scss';

:local(.button) {
  background-color: #eb7d4b;
  border: none;
  color: #ffff;
  padding: 1.7% 7%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.27px;
  font-weight: 600;
  margin: 4px 2px;
  min-width: 300px;
  min-height: 70px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px#ad613ed0;
  
  &:hover {
    background: #ff9e71;
  }
  &:active {
    box-shadow: 0 0px#ad613ed0;
    transform: translateY(2px);
  }
}