@import "Styles/mixins.scss";

:local(.skills) {
  @include containers-primary-style(#ffffff);
}

:local(.content) {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media(max-width: 1080px) {
    margin-top: 5vh;
    width: 100%;
    display: block;
  }
}