:local(.contactButton) {
  background-color: #bdd1df;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  margin: 0.3em;
  align-items: center;
  justify-content: center;
  transition:  0.35s background-color ease-out;

  @media (max-width: 850px) {
    width: 55px;
    height: 55px;
  }
}

:local(.red) {
  &:hover{
    background-color: #c77d7d;
  }
}

:local(.blue) {
  &:hover{
    background-color: #7d8ec7;
  }
}

:local(.default) {
  &:hover{
    background-color: #7da8c7;
  }
}