@import "Styles/mixins.scss";

:local(.services) {
  @include containers-primary-style(#17c2a4);
}

:local(.content) {
  @media (max-width: 1020px) {
    flex-direction: column;
    width: 95%;
    align-items: center;
    }
  display: flex;
}