:local(.description) {
  color: #ffffff;
  font-size: 110%;
  text-align: center;
  padding: 1.5% 15% 0% 15%;
  max-width: 600px;
  line-height: 150%;
}

:local(.aqua) {
  color: #3c4761;
}

:local(.brown) {
  color: #393939;
}