:local(.logo) {
  width: 50%;
  display: inline-block;

  @media (max-width: 1020px) {
    text-align: center;
    width: 100%;
  }

  img {
    padding-left: 30%;
    height: 65%;

    @media (max-width: 1020px) {
      align-self: center;
      padding: 0;
      width: 30%;
    
    }
  }
}