:local(.title) {
  font-size: 250%;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  padding-top: 6%;
  padding-bottom: 0.6%;
}

:local(.white) {
  color: #ffffff;
}

:local(.aqua) {
  color: #3c4761;
}

:local(.brown) {
  color: #393939;
}