:local(.navMobile) {
  width: 100%;
  display: none;
  color: #ffff;
  text-transform: uppercase;
  
  @media (max-width: 1020px) {
    display: inline-block;
    text-align: center;
    
  }
 
  ul {

   padding-inline-start: 0;
 
   li {
     display: block;
     padding: 1%;
     margin: 1%;
     button {
      text-transform: uppercase;
      width: 90%;
      margin: 0 1%;
      padding:1.5% 2%;
      font-size: 30px;
      display: inline-block;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: #ffff;
      border: none;
      background-color: #ffffff00;
      border-radius: 5px;
      transition: background-color 0.2s ease-out;
    }
    button:hover,
    button:active {
      background-color: #643a79;
      transition: background-color 0.3s ease-in;
    }
   }
  }
 }
 :local(.active){
   background-color: #643a79;
   border-radius: 8px;
 }