@import 'Styles/index.scss';

:local(.button) {
  text-transform: uppercase;
  margin: 0 1%;
  padding:1.5% 2%;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #ffff;
  border: none;
  cursor: pointer;
  background-color: #ffffff00;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;

  &:hover,
  &:active {
    background-color: #643a79;
    transition: background-color 0.3s ease-in;
  }
}