@import "./../../styles/variables.scss";

:local(.header) {
  background-color: #87509c;
  width: $container-width;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

:local(.menu){
  padding-top: 40px;
}

:local(.message) {
  padding: 8vw 19vw 0;
  text-align: center;
  color: #f7f3ea;
  font-size: 245%;
  font-weight: 700;
  

  @media (max-width: 1020px) {
    padding: 8vw 5vw 0;
  }
}

:local(.buttonContainer) {
  text-align: center;
  padding: 40px 0;

}

:local(.button) {
  background-color: #eb7d4b;
  color: #ffff;
  padding: 10px 35px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.27px;
  font-weight: 600;
  margin-bottom: 70px;
  min-width: 300px;
  min-height: 70px;
  text-transform: uppercase;
  box-shadow: 0 4px #ad613ed0;
  @media (max-width: 1020px) {
    margin-bottom: 30px;
  }

  &:hover {
    background: #ff9e71;
  }
  &:active {
    box-shadow: 0 0px #ad613ed0;
    transform: translateY(2px);
  }
}
