@import "Styles/mixins.scss";

:local(.container) {
  @include containers-primary-style(#344b8e);
}

:local(.links) {
  display: flex;
  padding: 2rem 0;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 850px) {
    flex-direction: column;
  }
}
