:local(.nav) {
  @media (min-width: 1020px) {
    width: 50%;
    display: inline-block;
    color: #ffff;
    text-transform: uppercase;

    :local(.listContainer) {
      padding-left: 13%;
    }

    :local(.list) {
      display: inline;
    }
    
    :local(.navigationButton) {
      text-transform: uppercase;
      margin: 0 1%;
      padding:10px;
      font-size: 16px;
      display: inline-block;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: #ffff;
      border: none;
      background-color: #ffffff00;
      border-radius: 5px;
      transition: background-color 0.2s ease-out;

      &:hover,
      &:active {
        background-color: #643a79;
        transition: background-color 0.3s ease-in;
      }
    }
  }

  @media(max-width: 1020px) {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #ffff;
    text-transform: uppercase;
    
    
    :local(.listContainer) {
      padding-inline-start: 0;
    }
  
    :local(.list) {
      display: block;
      padding: 5px;
      margin: 5px;
    }

    :local(.navigationButton) {
      text-transform: uppercase;
      width: 90%;
      padding:15px;
      font-size: 30px;
      display: inline-block;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: #ffff;
      border: none;
      background-color: #ffffff00;
      border-radius: 5px;
      transition: background-color 0.2s ease-out;

      &:hover,
      &:active {
        background-color: #643a79;
        transition: background-color 0.3s ease-in;
      }
    }
  }
}

